*{
    padding: 0;
    margin: 0;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
}
.square{
    height: 100px;
    width: 100px;
    background-color: black;
}
.square:hover{
    background-color: rgb(255, 0, 0);
}
.circle{
    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 50%;
}
.circle:hover{
    background-color: rgb(255, 0, 0);
}
.triangle{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #000000;
}
.triangle:hover{
    border-bottom: 100px solid #ff0000;
}
h1{
    margin-bottom: 30%;
}
.container ,.squareConatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.input ,.input1 ,#side,#side1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}
.btn ,.btn2{
    margin: 2%;
}
button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    margin-bottom: 5%;
    margin-top: 5%;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }